body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../BackGround_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:30px;
    top:10px;
    width:384px;
    height:640px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:646px;
}

.u1 {
    position:absolute;
    left:2px;
    top:312px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:44px;
    top:38px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../RegisterPage_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:132px;
    top:260px;
    width:180px;
    height:80px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

